<section class="container">

	<header>
		<div class="meta clearfix">
			<div class="author">

				<div class="pull-left">
			<span class="length">{{ content | read_time }} minute read </span>
				</div>
			</div>
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
		<h1>{{ title }}</h1>
		{{ sub_title wrap="h2" }}
	</header>

	<article class="content">

		{{ if intro_image }}
			<p><img src="{{ intro_image }}" class="intro-image"></p>
		{{ /if }}

		{{ content }}

		<ul class="tags">
		{{ tags }}
			<li><a href="{{ url }}">{{ title }}</a></li>
		{{ /tags }}
		</ul>
	</article>

</section>

{{ partial:article-footer }}
