<section class="container">

    <header>
        <h1>{{ title }}</h1>

    </header>

    <article class="list">

      {{ collection from="blog|course" taxonomy="true" paginate="true" as="posts" }}
            {{ if no_results }}
                <p>No "{{ title }}" posts.</p>
            {{ /if }}

            {{ posts scope="tag" }}

              <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                  
                  <h3><a href="{{ url }}">{{ title }}</a></h3>
                  <p>{{ content strip_tags="img|a|p" safe_truncate="210" ensure_right="..." }}</p>
                  <p><a href="{{ url }}">Read More</a></p>
                </div>
              </div>



            {{ /posts }}

            {{ partial:pagination }}
        {{ /collection }}
    </article>

</section>
