
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({{ theme:img src="slide1.jpg" }});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Sun West DLC</h2>
		   					<h1>Saskatchewan's largest online school</h1>
		   					<p class="fh5co-lead">Access educational resources and teacher supports at a pace, time and place that suits your needs</p>
		   					<p><a href="{{ url }}/courses" class="btn btn-primary btn-lg">Get started</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({{ theme:img src="slide3.jpg" }});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
			   				<h2>Set your own pace... or</h2>
		   					<h1>Join our Guided Learning Pathway</h1>
		   					<p class="fh5co-lead">and take advantage of additional structure, timeline and supports to ensure you finish your course in one semester</p>
		   					<p><a href="{{ url }}//courses/guided-learning-pathway" class="btn btn-primary btn-lg">Tell me more</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({{ theme:img src="slide2.jpg" }});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h1>Personalized Learning Pathway</h1>
		   					<p class="fh5co-lead">Access a wide range of educational tools and recourses for free</p>
		   					<p><a href="{{ url }}/home-based-learning/personalized-learning-in-k-6" class="btn btn-primary btn-lg">What is Personalized Learning?</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	
	
	
	
	<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
										
					<h1>In our online learning environment, you have choice over the pace, time, path and place of your education.</h1>
<h3>From Kindergarten to Grade 12,</h3>
<p>you choose how, when and where learning aligns with your interests, lifestyle and schedule. Then we provide the resources and support that you can access when and where it works for you.</p>



					
				</div>
				<div class="col-md-6 item-block">
					<p class="icon text-center">			
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
				  <i class="fa fa-line-chart fa-stack-1x fa-inverse" aria-hidden="true"></i>
				</span>
			</p>
					<h3>Pace</h3>
					<ul class="fa-ul  ">
							<li>Select specific course start and end date</li>
							<li>Accelerate or extend timelines</li>
							<li>Focus on one course at a time or manage multiple courses simultaneously</li>
						</ul>
					
				</div>
				
				
				<div class="col-md-6  item-block">
					<p class="icon text-center">			
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
				  <i class="fa fa-map-signs fa-stack-1x fa-inverse" aria-hidden="true"></i>
				</span></p>
					<h3>Explore</h3>
					<ul class="fa-ul">
							<li>Choose from over <a href="{{ url }}/courses">120 DLC courses</a></li>
							<li>Explore <a href="{{ url }}/dual-credit-options">dual credit</a> or <a href="/pages/advanced-placement.html">advanced placement</a> courses to fast track the post secondary experience</li>
						</ul>
									</div>
				
				
				<div class="col-md-6 item-block">
					<p class="icon text-center">			
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
				  <i class="fa fa-clock-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
				</span>
			</p>
					<h3>Time</h3>
					<ul class="fa-ul  ">
							<li>Access <a href="{{ url }}/log-in" target="_blank">course material</a> any time of day</li>
							<li><a href="{{ url }}/registration" target="_blank">Enrol</a> in new courses at any point in the calendar year</li>
						</ul>									</div>
				
				
				<div class="col-md-6 item-block">
					<p class="icon text-center">			
				<span class="fa-stack fa-4x">
				  <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
				  <i class="fa fa-map-marker fa-stack-1x fa-inverse" aria-hidden="true"></i>
				</span></p>
					<h3>Place</h3>
					<ul class="fa-ul  ">
							<li>Learn at home, in a library, a church or any accessible venue conducive to learning</li>
							<li>Get help from <a href="{{ url }}/Staff">instructors</a> via email, phone, Skype or in-person @ the DLC</li>
						</ul>

					
				</div>
				
			</div>
		</div>
	</div>
	
	


	
<div role="contentinfo" style="background-image: url({{ theme:img src="image_1.jpg" }});">
	<div class="overlay"></div>
	<div class="container">
			<div class="row">
				<BR>
			<h2>Obtain Post-Secondary Credits in High School</h2>

			<p>Enrol in one of 20 dual credit classes and simultaneously earn credits at high school and university or college.</p>

			<p><a href="{{ url }}/dual-credit-options" class="btn btn-primary btn-outline with-arrow">Learn More<i class="icon-arrow-right"></i></a></p>
			<br>
	</div>
		
	</div>
</div>	
	
	

	<div id="fh5co-testimonial" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
				
				
				<h2>Maybe you're:</h2>
				
				<p>enrolled in a traditional school but are looking for more options for high school electives?<br>
				<br>
				training for a sport or some other extracurricular program and need your education to work around practices?<br>
				<br>
				family is going on an extended vacation and you'd like to keep up with your studies while you are away?<br>
				<br>
				a parent looking to create a home-based learning environment for your child and are looking for support?</p>
				&nbsp;
				
				<h2>The DLC will accommodate your learning needs, whenever and wherever you are.</h2>
				
				</div>
			
			
			</div>
			
			<div class="row">
			
				<div class="col-md-6 text-center item-block">
			

					<h3>So What do DLC Courses Look Like?</h3>
						<p>Our web-based information management system, houses each course along with all relevant reading materials, videos .</p>
						<p><a href="{{ url }}courses/what-is-online-learning" class="btn btn-primary btn-outline with-arrow">Read More</a></p>

					
				</div>
				<div class="col-md-6 text-center item-block">
					<h3>Who is there to support me?</h3>
<p>Our team of professional educators are there to provide guidance if and when it is required.</p>
	<p><a href="{{ url }}courses/what-is-online-learning" class="btn btn-primary btn-outline with-arrow">Read More</a></p>


				</div>
				<div class="col-md-6 text-center item-block">
				<h3>	Are these courses available to me? What do they cost?</h3>
<p>Any Saskatchewan resident under the age of 22 has the option to register as a full-time online learner with the DLC and receive access to our courses free of charge.</p>
	<p><a href="{{ url }}courses/what-is-online-learning" class="btn btn-primary btn-outline with-arrow">Read More</a></p>
				</div>
				
				<div class="col-md-6 text-center item-block">
						
			<h3>	When can I register?</h3>
<p>Sun West Distance Learning Centre is a school with rolling registrations which means that learners can register at any point in the year. However, there are certain windows when teacher availability and/or course access is limited.</p>
	<p><a href="{{ url }}courses/what-is-online-learning" class="btn btn-primary btn-outline with-arrow">Read More</a></p>				</div>
				
			</div>
		</div>
	</div>

	

		
		
		<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>DLC Feature Courses</h2>
					<p>So many to choose from at every grade and learning level </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{ theme:img src="equine.jpg" }});">
						</a>
						<div class="desc">
							<h3><a href="#">Equine</a></h3>
							<p>Equine facilitates learning the basics of operation and care of horses. Learners will enhance their knowledge and gain confidence.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{ theme:img src="astronomy.jpg" }});">
						</a>
						<div class="desc">
							<h3><a href="#">Astronomy</a></h3>
							<p>Take a journey through the universe to explore everything from the potential for extraterrestrial life to the evolution of stars and galaxies</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{ theme:img src="paleontology.jpg" }});">
						</a>
						<div class="desc">
							<h3><a href="#">Paleontology</a></h3>
							<p>From Godzilla to Jurassic Park, dinosaurs continue to captivate us. Students will learn about the fascinating creatures both large and small that roamed the earth before humankind.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{ theme:img src="fieldCrop.jpg" }});">
						</a>
						<div class="desc">
							<h3><a href="#">Ag-Tech Field Crop</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				
				
				
		

	

	
	<div class="fh5co-cta" style="background-color: #94abac;">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h1>Register</h1>
			
 
<P>From Kindergarten to Grade 12, you choose how, when and where learning aligns with your interests, lifestyle and schedule. Then we provide the resources and support that you can access when and where it works for you.</P>
				<p><a href="{{ url }}/register" class="btn btn-primary with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>



<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>News &amp; Events</h2>
					<p>School news and stories from the DLC</p>
				</div>
			</div>
			<div class="row row-padded-mb">
				
				

	
		{{ collection:blog limit="3" scope="tag" }}
			{{ partial:block }}
		{{ /collection:blog }}
	

    <div class="read-more">
        <a href="{{ link to='blog' }}" class="btn btn-primary btn-sm btn-course">Read the rest of the blog</a>
    </div>
			</div>
		</div>
</div>

</section>
